{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="calculator">
    <table>
      <tr>
        <td colspan="4">
          <div id="result"></div>
        </td>
      </tr>
      <tr>
        <td onclick="handleClick('C')">C</td>
        <td onclick="handleClick('%')">%</td>
        <td onclick="handleClick('/')">/</td>
        <td onclick="handleClick('*')">*</td>
      </tr>
      <tr>
        <td onclick="handleClick('7')">7</td>
        <td onclick="handleClick('8')">8</td>
        <td onclick="handleClick('9')">9</td>
        <td onclick="handleClick('-')">-</td>
      </tr>
      <tr>
        <td onclick="handleClick('4')">4</td>
        <td onclick="handleClick('5')">5</td>
        <td onclick="handleClick('6')">6</td>
        <td onclick="handleClick('+')">+</td>
      </tr>
      <tr>
        <td onclick="handleClick('1')">1</td>
        <td onclick="handleClick('2')">2</td>
        <td onclick="handleClick('3')">3</td>
        <td rowspan="2" onclick="handleClick('=')">=</td>
      </tr>
      <tr>
        <td onclick="handleClick('0')">0</td>
        <td onclick="handleClick('Backspace')"><-</td>
        <td onclick="handleClick('.')">.</td>
      </tr>
    </table>
  </div>
  <script src="{% static 'script.js' %}"></script>
{% endblock %}